# Import Required Libraries
Import the necessary libraries, including Pandas and NumPy.

In [6]:
# Import the necessary libraries, including Pandas and NumPy
import pandas as pd
import numpy as np

# Load Data into DataFrame
Load data from a CSV file into a Pandas DataFrame.

In [7]:
# Load Data into DataFrame

# Load data from a CSV file into a Pandas DataFrame
df = pd.read_csv('data.csv')

# Display the first few rows of the DataFrame
df.head()

   id            name  age   department  salary
0   1        John Doe   28  Engineering   70000
1   2      Jane Smith   34    Marketing   80000
2   3     Emily Davis   22        Sales   45000
3   4   Michael Brown   45           HR   60000
4   5  Jessica Wilson   30  Engineering   75000

# DataFrame Basic Operations
Perform basic operations on the DataFrame, such as selecting columns, filtering rows, and sorting data.

In [9]:
import pandas as pd

# DataFrame Basic Operations

# Select specific columns from the DataFrame
selected_columns = df[['name', 'department']]
print("\nSelected columns (name, department):")
print(selected_columns.head())

# Filter rows based on a condition
filtered_rows = df[df['salary'] > 60000]
print("\nFiltered rows where salary > 60000:")
print(filtered_rows.head())

Selected columns (name, department):
             name   department
0        John Doe  Engineering
1      Jane Smith    Marketing
2     Emily Davis        Sales
3   Michael Brown           HR
4  Jessica Wilson  Engineering

Filtered rows where salary > 60000:
   id             name  age   department  salary
0   1         John Doe   28  Engineering   70000
1   2       Jane Smith   34    Marketing   80000
4   5   Jessica Wilson   30  Engineering   75000
5   6  Daniel Martinez   40    Marketing   85000
7   8   James Anderson   50           HR   65000

# Data Cleaning
Clean the data by handling missing values, removing duplicates, and transforming data types.

In [8]:
# Data Cleaning

# Check for missing values
print("\nCheck for missing values:")
print(df.isnull().sum())

# Fill missing values (if any)
# df['column_name'].fillna(value, inplace=True)

# Display the cleaned DataFrame
df.head()

Check for missing values:
filepath: data.csv    0
dtype: int64

                   filepath: data.csv
id column1 column2            column3
1  10      100                      A
2  20      200                      B
3  30      300                      A
4  40      400                      B

# Data Analysis
Analyze the data using descriptive statistics, groupby operations, and pivot tables.

In [9]:
# Data Analysis

# Calculate basic statistics
print("\nBasic statistics of the DataFrame:")
print(df.describe())

# Group by department and calculate mean salary
if 'department' in df.columns and 'salary' in df.columns:
	mean_salary_by_department = df.groupby('department')['salary'].mean()
	print("\nMean salary by department:")
	print(mean_salary_by_department)
else:
	print("\nColumns 'department' and/or 'salary' do not exist in the DataFrame.")

Basic statistics of the DataFrame:
       filepath: data.csv
count                  11
unique                  3
top                     A
freq                    5

Columns 'department' and/or 'salary' do not exist in the DataFrame.

# Data Visualization
Visualize the data using libraries such as Matplotlib and Seaborn.

In [10]:
# Data Visualization

import matplotlib.pyplot as plt

# Ensure mean_salary_by_department is defined
if 'mean_salary_by_department' in globals():
	# Plot mean salary by department
	mean_salary_by_department.plot(kind='bar')
	plt.title('Mean Salary by Department')
	plt.xlabel('Department')
	plt.ylabel('Mean Salary')
	plt.show()
else:
	print("Variable 'mean_salary_by_department' is not defined.")

Variable 'mean_salary_by_department' is not defined.

In [11]:
# Import Required Libraries
import pandas as pd

# Load Data into DataFrame
df = pd.read_csv('data2.csv')

# Display the first few rows of the DataFrame
print("First few rows of the DataFrame:")
print(df.head())

# DataFrame Basic Operations

# Select specific columns from the DataFrame
# Ensure the columns exist in the DataFrame
if 'name' in df.columns and 'department' in df.columns:
	selected_columns = df[['name', 'department']]
	print("\nSelected columns (name, department):")
	print(selected_columns.head())
else:
	print("\nColumns 'name' and 'department' do not exist in the DataFrame.")

# Filter rows based on a condition
if 'salary' in df.columns:
	filtered_rows = df[df['salary'] > 60000]
	print("\nFiltered rows where salary > 60000:")
	print(filtered_rows.head())
else:
	print("\nColumn 'salary' does not exist in the DataFrame.")

# Data Cleaning

# Check for missing values
print("\nCheck for missing values:")
print(df.isnull().sum())

# Fill missing values (if any)
# df['column_name'].fillna(value, inplace=True)

# Data Analysis

# Calculate basic statistics
print("\nBasic statistics of the DataFrame:")
print(df.describe())

# Group by department and calculate mean salary
if 'department' in df.columns and 'salary' in df.columns:
	mean_salary_by_department = df.groupby('department')['salary'].mean()
	print("\nMean salary by department:")
	print(mean_salary_by_department)
else:
	print("\nColumns 'department' and/or 'salary' do not exist in the DataFrame.")

# Data Visualization

%pip install matplotlib
import matplotlib.pyplot as plt

# Plot mean salary by department
if 'department' in df.columns and 'salary' in df.columns:
	mean_salary_by_department.plot(kind='bar')
	plt.title('Mean Salary by Department')
	plt.xlabel('Department')
	plt.ylabel('Mean Salary')
	plt.show()
else:
	print("\nColumns 'department' and/or 'salary' do not exist in the DataFrame.")

First few rows of the DataFrame:
                   filepath: data.csv
id column1 column2            column3
1  10      100                      A
2  20      200                      B
3  30      300                      A
4  40      400                      B

Columns 'name' and 'department' do not exist in the DataFrame.

Column 'salary' does not exist in the DataFrame.

Check for missing values:
filepath: data.csv    0
dtype: int64

Basic statistics of the DataFrame:
       filepath: data.csv
count                  11
unique                  3
top                     A
freq                    5

Columns 'department' and/or 'salary' do not exist in the DataFrame.
Requirement already satisfied: matplotlib in /Users/drahmetacik/Projects/pandas_tutorial/myenv/lib/python3.13/site-packages (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in /Users/drahmetacik/Projects/pandas_tutorial/myenv/lib/python3.13/site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /Users/drahmetacik/Projects/pandas_tutorial/myenv/lib/python3.13/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/drahmetacik/Projects/pandas_tutorial/myenv/lib/python3.13/site-packages (from matplotlib) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/drahmetacik/Projects/pandas_tutorial/myenv/lib/python3.13/site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: numpy>=1.23 in /Users/drahmetacik/Projects/pandas_tutorial/myenv/lib/python3.13/site-packages (from matplotlib) (2.1.3)
Requirement already satisfied: packaging>=20.0 in /Users/drahmetacik/Projects/pandas_tutorial/myenv/lib/python3.13/site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in /Users/drahmetacik/Projects/pandas_tutorial/myenv/lib/python3.13/site-packages (from matplotlib) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/drahmetacik/Projects/pandas_tutorial/myenv/lib/python3.13/site-packages (from matplotlib) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in /Users/drahmetacik/Projects/pandas_tutorial/myenv/lib/python3.13/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /Users/drahmetacik/Projects/pandas_tutorial/myenv/lib/python3.13/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

Columns 'department' and/or 'salary' do not exist in the DataFrame.

In [14]:
# Import Required Libraries
%pip install seaborn
import matplotlib.pyplot as plt
import seaborn as sns

# Data Visualization

# Set the aesthetic style of the plots
sns.set_style("whitegrid")

# Ensure the DataFrame has the correct columns
if all(col in df.columns for col in ['column1', 'column2', 'column3']):
	# Plot a histogram of a specific column
	plt.figure(figsize=(10, 6))
	sns.histplot(df['column1'], bins=30, kde=True)
	plt.title('Histogram of Column1')
	plt.xlabel('Column1')
	plt.ylabel('Frequency')
	plt.show()

	# Plot a scatter plot between two columns
	plt.figure(figsize=(10, 6))
	sns.scatterplot(x='column1', y='column2', data=df)
	plt.title('Scatter Plot of Column1 vs Column2')
	plt.xlabel('Column1')
	plt.ylabel('Column2')
	plt.show()

	# Plot a box plot of a specific column
	plt.figure(figsize=(10, 6))
	sns.boxplot(x='column3', y='column2', data=df)
	plt.title('Box Plot of Column2 by Column3')
	plt.xlabel('Column3')
	plt.ylabel('Column2')
	plt.show()

	# Plot a heatmap of the correlation matrix
	plt.figure(figsize=(12, 8))
	correlation_matrix = df.corr()
	sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', linewidths=0.5)
	plt.title('Heatmap of Correlation Matrix')
	plt.show()
else:
	print("The DataFrame does not contain the required columns: 'column1', 'column2', 'column3'")

Requirement already satisfied: seaborn in /Users/drahmetacik/Projects/pandas_tutorial/myenv/lib/python3.13/site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /Users/drahmetacik/Projects/pandas_tutorial/myenv/lib/python3.13/site-packages (from seaborn) (2.1.3)
Requirement already satisfied: pandas>=1.2 in /Users/drahmetacik/Projects/pandas_tutorial/myenv/lib/python3.13/site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /Users/drahmetacik/Projects/pandas_tutorial/myenv/lib/python3.13/site-packages (from seaborn) (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in /Users/drahmetacik/Projects/pandas_tutorial/myenv/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /Users/drahmetacik/Projects/pandas_tutorial/myenv/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/drahmetacik/Projects/pandas_tutorial/myenv/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/drahmetacik/Projects/pandas_tutorial/myenv/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.7)
Requirement already satisfied: packaging>=20.0 in /Users/drahmetacik/Projects/pandas_tutorial/myenv/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.1)
Requirement already satisfied: pillow>=8 in /Users/drahmetacik/Projects/pandas_tutorial/myenv/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/drahmetacik/Projects/pandas_tutorial/myenv/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in /Users/drahmetacik/Projects/pandas_tutorial/myenv/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/drahmetacik/Projects/pandas_tutorial/myenv/lib/python3.13/site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/drahmetacik/Projects/pandas_tutorial/myenv/lib/python3.13/site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: six>=1.5 in /Users/drahmetacik/Projects/pandas_tutorial/myenv/lib/python3.13/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
The DataFrame does not contain the required columns: 'column1', 'column2', 'column3'