# Import Required Libraries
Import the necessary libraries, including Pandas and NumPy.

In [6]:
# Import the necessary libraries, including Pandas and NumPy
import pandas as pd
import numpy as np

# Load Data into DataFrame
Load data from a CSV file into a Pandas DataFrame.

In [7]:
# Load Data into DataFrame

# Load data from a CSV file into a Pandas DataFrame
df = pd.read_csv('data.csv')

# Display the first few rows of the DataFrame
df.head()

   id            name  age   department  salary
0   1        John Doe   28  Engineering   70000
1   2      Jane Smith   34    Marketing   80000
2   3     Emily Davis   22        Sales   45000
3   4   Michael Brown   45           HR   60000
4   5  Jessica Wilson   30  Engineering   75000

# DataFrame Basic Operations
Perform basic operations on the DataFrame, such as selecting columns, filtering rows, and sorting data.

In [9]:
import pandas as pd

# DataFrame Basic Operations

# Select specific columns from the DataFrame
selected_columns = df[['name', 'department']]
print("\nSelected columns (name, department):")
print(selected_columns.head())

# Filter rows based on a condition
filtered_rows = df[df['salary'] > 60000]
print("\nFiltered rows where salary > 60000:")
print(filtered_rows.head())

Selected columns (name, department):
             name   department
0        John Doe  Engineering
1      Jane Smith    Marketing
2     Emily Davis        Sales
3   Michael Brown           HR
4  Jessica Wilson  Engineering

Filtered rows where salary > 60000:
   id             name  age   department  salary
0   1         John Doe   28  Engineering   70000
1   2       Jane Smith   34    Marketing   80000
4   5   Jessica Wilson   30  Engineering   75000
5   6  Daniel Martinez   40    Marketing   85000
7   8   James Anderson   50           HR   65000

# Data Cleaning
Clean the data by handling missing values, removing duplicates, and transforming data types.

In [11]:
# Data Cleaning

# Check for missing values
print("\nCheck for missing values:")
print(df.isnull().sum())

# Fill missing values (if any)
# df['column_name'].fillna(value, inplace=True)

# Display the cleaned DataFrame
df.head()

Check for missing values:
id            0
name          0
age           0
department    0
salary        0
dtype: int64

   id            name  age   department  salary
0   1        John Doe   28  Engineering   70000
1   2      Jane Smith   34    Marketing   80000
2   3     Emily Davis   22        Sales   45000
3   4   Michael Brown   45           HR   60000
4   5  Jessica Wilson   30  Engineering   75000

# Data Analysis
Analyze the data using descriptive statistics, groupby operations, and pivot tables.

In [13]:
# Data Analysis

# Calculate basic statistics
print("\nBasic statistics of the DataFrame:")
print(df.describe())

# Group by department and calculate mean salary
mean_salary_by_department = df.groupby('department')['salary'].mean()
print("\nMean salary by department:")
print(mean_salary_by_department)

Basic statistics of the DataFrame:
            id        age        salary
count  8.00000   8.000000      8.000000
mean   4.50000  34.750000  66250.000000
std    2.44949   9.483068  14078.859532
min    1.00000  22.000000  45000.000000
25%    2.75000  28.750000  57500.000000
50%    4.50000  32.000000  67500.000000
75%    6.25000  41.250000  76250.000000
max    8.00000  50.000000  85000.000000

Mean salary by department:
department
Engineering    72500.0
HR             62500.0
Marketing      82500.0
Sales          47500.0
Name: salary, dtype: float64

# Data Visualization
Visualize the data using libraries such as Matplotlib and Seaborn.

In [1]:
# Data Visualization

import matplotlib.pyplot as plt

# Plot mean salary by department
mean_salary_by_department.plot(kind='bar')
plt.title('Mean Salary by Department')
plt.xlabel('Department')
plt.ylabel('Mean Salary')
plt.show()

NameError: name 'mean_salary_by_department' is not defined

In [3]:
# Import Required Libraries
import pandas as pd

# Load Data into DataFrame
df = pd.read_csv('data2.csv')

# Display the first few rows of the DataFrame
print("First few rows of the DataFrame:")
print(df.head())

# DataFrame Basic Operations

# Select specific columns from the DataFrame
# Ensure the columns exist in the DataFrame
if 'name' in df.columns and 'department' in df.columns:
	selected_columns = df[['name', 'department']]
	print("\nSelected columns (name, department):")
	print(selected_columns.head())
else:
	print("\nColumns 'name' and 'department' do not exist in the DataFrame.")

# Filter rows based on a condition
if 'salary' in df.columns:
	filtered_rows = df[df['salary'] > 60000]
	print("\nFiltered rows where salary > 60000:")
	print(filtered_rows.head())
else:
	print("\nColumn 'salary' does not exist in the DataFrame.")

# Data Cleaning

# Check for missing values
print("\nCheck for missing values:")
print(df.isnull().sum())

# Fill missing values (if any)
# df['column_name'].fillna(value, inplace=True)

# Data Analysis

# Calculate basic statistics
print("\nBasic statistics of the DataFrame:")
print(df.describe())

# Group by department and calculate mean salary
if 'department' in df.columns and 'salary' in df.columns:
	mean_salary_by_department = df.groupby('department')['salary'].mean()
	print("\nMean salary by department:")
	print(mean_salary_by_department)
else:
	print("\nColumns 'department' and/or 'salary' do not exist in the DataFrame.")

# Data Visualization

%pip install matplotlib
import matplotlib.pyplot as plt

# Plot mean salary by department
if 'department' in df.columns and 'salary' in df.columns:
	mean_salary_by_department.plot(kind='bar')
	plt.title('Mean Salary by Department')
	plt.xlabel('Department')
	plt.ylabel('Mean Salary')
	plt.show()
else:
	print("\nColumns 'department' and/or 'salary' do not exist in the DataFrame.")

First few rows of the DataFrame:
                   filepath: data.csv
id column1 column2            column3
1  10      100                      A
2  20      200                      B
3  30      300                      A
4  40      400                      B

Columns 'name' and 'department' do not exist in the DataFrame.

Column 'salary' does not exist in the DataFrame.

Check for missing values:
filepath: data.csv    0
dtype: int64

Basic statistics of the DataFrame:
       filepath: data.csv
count                  11
unique                  3
top                     A
freq                    5

Columns 'department' and/or 'salary' do not exist in the DataFrame.
Collecting matplotlib
  Downloading matplotlib-3.10.0-cp313-cp313-macosx_10_13_x86_64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Using cached contourpy-1.3.1-cp313-cp313-macosx_10_13_x86_64.whl.metadata (5.4 kB)
Collecting cycler>=0.10 (from matplotlib)
  Using cached cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.55.3-cp313-cp313-macosx_10_13_x86_64.whl.metadata (165 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Using cached kiwisolver-1.4.7-cp313-cp313-macosx_10_13_x86_64.whl.metadata (6.3 kB)
Requirement already satisfied: numpy>=1.23 in /Users/drahmetacik/Projects/pandas_tutorial/myenv/lib/python3.13/site-packages (from matplotlib) (2.1.3)
Requirement already satisfied: packaging>=20.0 in /Users/drahmetacik/Projects/pandas_tutorial/myenv/lib/python3.13/site-packages (from matplotlib) (24.1)
Collecting pillow>=8 (from matplotlib)
  Using cached pillow-11.0.0-cp313-cp313-macosx_10_13_x86_64.whl.metadata (9.1 kB)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Using cached pyparsing-3.2.0-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: python-dateutil>=2.7 in /Users/drahmetacik/Projects/pandas_tutorial/myenv/lib/python3.13/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /Users/drahmetacik/Projects/pandas_tutorial/myenv/lib/python3.13/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Downloading matplotlib-3.10.0-cp313-cp313-macosx_10_13_x86_64.whl (8.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.2/8.2 MB 18.6 MB/s eta 0:00:00a 0:00:01
Using cached contourpy-1.3.1-cp313-cp313-macosx_10_13_x86_64.whl (271 kB)
Using cached cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.55.3-cp313-cp313-macosx_10_13_x86_64.whl (2.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.3/2.3 MB 21.1 MB/s eta 0:00:00
Using cached kiwisolver-1.4.7-cp313-cp313-macosx_10_13_x86_64.whl (65 kB)
Using cached pillow-11.0.0-cp313-cp313-macosx_10_13_x86_64.whl (3.1 MB)
Using cached pyparsing-3.2.0-py3-none-any.whl (106 kB)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.3.1 cycler-0.12.1 fonttools-4.55.3 kiwisolver-1.4.7 matplotlib-3.10.0 pillow-11.0.0 pyparsing-3.2.0
Note: you may need to restart the kernel to use updated packages.

Columns 'department' and/or 'salary' do not exist in the DataFrame.