# Import Required Libraries
Import the necessary libraries, including Pandas and NumPy.

In [6]:
# Import the necessary libraries, including Pandas and NumPy
import pandas as pd
import numpy as np

# Load Data into DataFrame
Load data from a CSV file into a Pandas DataFrame.

In [7]:
# Load Data into DataFrame

# Load data from a CSV file into a Pandas DataFrame
df = pd.read_csv('data.csv')

# Display the first few rows of the DataFrame
df.head()

   id            name  age   department  salary
0   1        John Doe   28  Engineering   70000
1   2      Jane Smith   34    Marketing   80000
2   3     Emily Davis   22        Sales   45000
3   4   Michael Brown   45           HR   60000
4   5  Jessica Wilson   30  Engineering   75000

# DataFrame Basic Operations
Perform basic operations on the DataFrame, such as selecting columns, filtering rows, and sorting data.

In [9]:
import pandas as pd

# DataFrame Basic Operations

# Select specific columns from the DataFrame
selected_columns = df[['name', 'department']]
print("\nSelected columns (name, department):")
print(selected_columns.head())

# Filter rows based on a condition
filtered_rows = df[df['salary'] > 60000]
print("\nFiltered rows where salary > 60000:")
print(filtered_rows.head())

Selected columns (name, department):
             name   department
0        John Doe  Engineering
1      Jane Smith    Marketing
2     Emily Davis        Sales
3   Michael Brown           HR
4  Jessica Wilson  Engineering

Filtered rows where salary > 60000:
   id             name  age   department  salary
0   1         John Doe   28  Engineering   70000
1   2       Jane Smith   34    Marketing   80000
4   5   Jessica Wilson   30  Engineering   75000
5   6  Daniel Martinez   40    Marketing   85000
7   8   James Anderson   50           HR   65000

# Data Cleaning
Clean the data by handling missing values, removing duplicates, and transforming data types.

In [11]:
# Data Cleaning

# Check for missing values
print("\nCheck for missing values:")
print(df.isnull().sum())

# Fill missing values (if any)
# df['column_name'].fillna(value, inplace=True)

# Display the cleaned DataFrame
df.head()

Check for missing values:
id            0
name          0
age           0
department    0
salary        0
dtype: int64

   id            name  age   department  salary
0   1        John Doe   28  Engineering   70000
1   2      Jane Smith   34    Marketing   80000
2   3     Emily Davis   22        Sales   45000
3   4   Michael Brown   45           HR   60000
4   5  Jessica Wilson   30  Engineering   75000

# Data Analysis
Analyze the data using descriptive statistics, groupby operations, and pivot tables.

In [13]:
# Data Analysis

# Calculate basic statistics
print("\nBasic statistics of the DataFrame:")
print(df.describe())

# Group by department and calculate mean salary
mean_salary_by_department = df.groupby('department')['salary'].mean()
print("\nMean salary by department:")
print(mean_salary_by_department)

Basic statistics of the DataFrame:
            id        age        salary
count  8.00000   8.000000      8.000000
mean   4.50000  34.750000  66250.000000
std    2.44949   9.483068  14078.859532
min    1.00000  22.000000  45000.000000
25%    2.75000  28.750000  57500.000000
50%    4.50000  32.000000  67500.000000
75%    6.25000  41.250000  76250.000000
max    8.00000  50.000000  85000.000000

Mean salary by department:
department
Engineering    72500.0
HR             62500.0
Marketing      82500.0
Sales          47500.0
Name: salary, dtype: float64

# Data Visualization
Visualize the data using libraries such as Matplotlib and Seaborn.

In [1]:
# Data Visualization

import matplotlib.pyplot as plt

# Plot mean salary by department
mean_salary_by_department.plot(kind='bar')
plt.title('Mean Salary by Department')
plt.xlabel('Department')
plt.ylabel('Mean Salary')
plt.show()

NameError: name 'mean_salary_by_department' is not defined

In [1]:
# Import Required Libraries
import pandas as pd

# Load Data into DataFrame
df = pd.read_csv('data2.csv')

# Display the first few rows of the DataFrame
print("First few rows of the DataFrame:")
print(df.head())

# DataFrame Basic Operations

# Select specific columns from the DataFrame
selected_columns = df[['name', 'department']]
print("\nSelected columns (name, department):")
print(selected_columns.head())

# Filter rows based on a condition
filtered_rows = df[df['salary'] > 60000]
print("\nFiltered rows where salary > 60000:")
print(filtered_rows.head())

# Data Cleaning

# Check for missing values
print("\nCheck for missing values:")
print(df.isnull().sum())

# Fill missing values (if any)
# df['column_name'].fillna(value, inplace=True)

# Data Analysis

# Calculate basic statistics
print("\nBasic statistics of the DataFrame:")
print(df.describe())

# Group by department and calculate mean salary
mean_salary_by_department = df.groupby('department')['salary'].mean()
print("\nMean salary by department:")
print(mean_salary_by_department)

# Data Visualization

import matplotlib.pyplot as plt

# Plot mean salary by department
mean_salary_by_department.plot(kind='bar')
plt.title('Mean Salary by Department')
plt.xlabel('Department')
plt.ylabel('Mean Salary')
plt.show()

First few rows of the DataFrame:
                   filepath: data.csv
id column1 column2            column3
1  10      100                      A
2  20      200                      B
3  30      300                      A
4  40      400                      B

KeyError: "None of [Index(['name', 'department'], dtype='object')] are in the [columns]"